#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.box {
    border: 4px solid black;
    margin: auto;
    height: 800px;
}

.box1 {
    border: 4px solid black;
    margin: 20px auto;
    height: 100px;
    display: flex;
}

.box11 {
    border: 4px solid black;
    margin: 10px 0 10px 10px;
}

.box12 {
    border: 4px solid black;
    margin: 10px 10px 10px 10px;
}

.box2 {
    border: 4px solid black;
    margin: auto;
    height: 350px;
    display: flex;
}

.box21 {
    border: 4px solid black;
    margin: 25px 0 25px 10px;
}

.box22 {
    border: 4px solid black;
    margin: 25px 10px 25px 15px;
}

.box3 {
    display: flex;
}

.box31 {
    border: 4px solid black;
    height: 150px;
    margin: 35px;
}